﻿@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name !</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?"/>
    </Authorized>
    <NotAuthorized>
        Not Authorized
    </NotAuthorized>
</AuthorizeView>