﻿@page
@model RegisterThankYouModel
@{
    ViewData["Title"] = "Thank you for registering with Metapass.";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    You can use either of these as your login username:
    <ul class="list-styled">
        <li>@ViewData["Username"]</li>
        <li>@ViewData["Email"]</li>
    </ul>
    <br />
    Go to <a href=@ViewData["DashboardEndpoint"]>Dashboard</a>.
</p>