﻿@page
@model RegisterVerifyEmailModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Register";
    ViewData["Email"] = @httpContextAccessor.HttpContext.Session.GetString("user.email");
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Verify your email address.</h4>
            <hr />
            <p>
                Please enter the security code sent to <b>@ViewData["Email"]</b><br />
            </p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.SecurityCode"></label>
                <input asp-for="Input.SecurityCode" class="form-control" value="@ViewData["UserSecurityCode"]" />
                <span asp-validation-for="Input.SecurityCode" class="text-danger"></span>
                <button id="resend-security-code" type="submit" asp-page-handler="ResendSecurityCode" class="btn btn-link">Resend security code</button>
            </div>
            If you don't see the email in your inbox within a few minutes, check your spam, junk or trash folders. If you can't find it, check you've entered the correct email address before resending the activation email. <br /><br />
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
